<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>레이아웃</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <main id="main-container">
    <section class="container container1">
      <div class="icon">아이콘1</div>
      <div class="icon">아이콘2</div>
      <div class="icon">아이콘3</div>
    </section>

    <section class="container container2">
      <div class="area area1">영역1</div>
      <div class="area area2">영역2</div>
      <div class="area area3">영역3</div>
    </section>

    <section class="container container3">
      <div class="area area4">영역4</div>
      <div class="area area5">영역5</div>
    </section>
  </main>
</body>
</html>